@page "/tables"
@using BlazorProject.Shared


<PageTitle>Tables</PageTitle>

<h3>Tables</h3>


<ul>

 <li>Ekmek</li>

 <li>Süt</li>

 <li>Çay</li>

</ul>

@code {
    public List<string> ListTables = new List<string>(); 

    

   
}
